.navbar-nav{
  a{
    font-size: 13px;
  }
}

/*--- home-main-screen ---*/

.home-main-screen{
  .desktop-head-main{
    padding: 0px;
    margin-bottom: 20px;

    .h2{
      color: white;
      background: red;
      text-transform: uppercase;
      padding: 10px 15px;
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 26px;
      display: inline-block;
    }

    .h3{
      color: white;
      text-transform: uppercase;
      margin-top: 5px;
      font-weight: bold;
      margin-top: 0!important;
      margin-bottom: 50px;
      font-size: 17px;
    }

    .row{
      text-align: center;
    }

    .head__wrap{
      width: 800px; margin: 0px auto;
    }
  }

  .mobile-head-main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 -10px;
    height: 350px;
    padding: 24px;
    text-align: center;

    .inner{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .head__wrap{
      width: 800px;
      margin: 0px auto;
    }
  }

  .custom-inner{
    width: 550px;
    margin: 0px auto;
  }

  .row__inputs{
    margin-bottom: 30px;

    .btn{
      padding: 0px 10px;
      width: 100%;
    }
  }

  .mobile-form{
    display: none;
    background-color: #222;
    padding: 15px 0;
    margin: 0 -10px;

    form{
      .center{
        margin-bottom: 5px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

/*--- product-list-wrapper ----*/

.product-list-wrapper{
  display: flex;
  flex-wrap: wrap;
}

/*--- black-overlay ---*/

.black-overlay{
  .h2{
    span{
      display: block;
    }
  }
}

/*--- how-order ---*/

.how-order{

  .desktop-main-form-small {background: #333333; padding: 30px 20px;}
  .desktop-main-form-small .h2{padding-bottom: 0px;font-size: 17px;margin: 0;font-weight: 700;}
  .desktop-main-form-small .h2 span{font-size: 23px;}
  .desktop-main-form-small form{margin-right: -15px; margin-left: -15px;}
  .desktop-main-form-small .btn-medium{line-height: 33px;height: 34px;width: 100%;}  .desktop-main-form-small .item{margin-top: 5px;}
  @media (max-width: 768px){
    .desktop-main-form-small {padding: 15px 0; margin-left: -15px; margin-right: -15px;}
    .desktop-main-form-small .h2{font-size: 11px;padding-bottom: 5px;}
    .desktop-main-form-small .h2 span{font-size: 16px;}}

  .h2{
    span{
      display: block;
    }
  }
}

/*--- home-our-video ---*/

.home-our-video{
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .desktop-video .row-video{margin-right: -5px!important;margin-left: -5px!important;}
  .desktop-video .h5{text-transform: uppercase;margin-top: 5px;margin-bottom: 15px;display: block;}
  .desktop-video .row-video .item{padding-right: 5px;padding-left: 5px;}
  @media (max-width: 768px){
    .desktop-video .row-video{margin-right: -15px!important;margin-left: -15px!important;}
    .desktop-video .row-video .item{padding-right: 0;padding-left: 0;}

  }

  .mine-tania .desktop p.form{font-weight: 700;}
}

/*--- services page ---*/

.main-screen{

  .desktop-head-main .h1{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    border: none;color: #fff;
    margin-bottom: 5px;
    margin-top: 160px;
    padding: 10px 10px 10px;
    border: 1px solid white;
  }
  .desktop-head-main .h2{
    color: white;
    background: red;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
    display: inline-block;
  }
  .desktop-head-main .h3{
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: bold;
    margin-top: 0!important;
    margin-bottom: 50px;
    font-size: 17px;
  }

  .mobile-head-main .h2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 26px;
    text-align: center;
    padding: 0;
    margin: 50px 0 0;
    line-height: 40px;
  }
  .mobile-head-main .h3{
    color: white;
    background: red;
    text-transform: uppercase;
    padding: 10px 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
  }
  .mobile-head-main .h4{
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
  }

}

.services-content{
  /* desktop-solo-img */
  .desktop-solo-img img{width: 100%;}
  .desktop-solo-img .row{margin-right: -5px!important;margin-left: -5px!important;}
  .desktop-solo-img .row .item{padding-right: 5px;padding-left: 5px;}
  @media (max-width: 550px){
    .desktop-solo-img .row{margin-right: -15px!important;margin-left: -15px!important;}
    .desktop-solo-img .row .item{padding-right: 0px;padding-left: 0px;}}
  /*bec - desktop-solo-img */
  /* desktop-duo-img */
  .desktop-duo-img img{width: 100%;}.desktop-duo-img .row{margin-right: -5px!important;margin-left: -5px!important;}.desktop-duo-img .row .item{padding-right: 5px;padding-left: 5px;}@media (max-width: 550px){.desktop-duo-img .row{margin-right: -15px!important;margin-left: -15px!important;}.desktop-duo-img .row .item{padding-right: 0px;padding-left: 0px;}}
  /*bec - desktop-duo-img */
  /* popup-gallery */
  .popup-gallery{margin-right: -5px;margin-left: -5px;overflow: auto;}.popup-gallery .item{padding-right: 5px;padding-left: 5px;margin-bottom: 10px;}.popup-gallery .item a{display: block;position: relative;overflow: hidden;line-height: 0px;}.popup-gallery .item .span{text-align: left;display: block;position: absolute;top: 30%;right: 0;bottom: 0;left: 20px;color: #fff;font-weight: bold;vertical-align: baseline;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 15px;   opacity: 0;transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;margin: 0;}.popup-gallery .item .h2{font-size: 18px;text-align: left;display: block;position: absolute;top: 20%;right: 0;bottom: 0;left: 20px;text-transform: uppercase;color: #fff;font-weight: bold;vertical-align: baseline;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;opacity: 0;transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;margin: 0;margin-top: -29px;}.popup-gallery .item .bg_item{background-color: rgba(0, 0, 0, 0.75);top: 0px;left: 0px;right: 0px;overflow: hidden;display: block;position: absolute;}.popup-gallery .item img{width: 100%;transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;}.popup-gallery .item:hover img{transform: scale(1.5) rotate(6deg);-webkit-transform: scale(1.5) rotate(6deg);}.popup-gallery .item:hover .span{top: 50%;opacity: 1;margin-top: -6px;}.popup-gallery .item:hover .h2{top: 50%;opacity: 1;margin: -9px 0 0;}.popup-gallery .item:hover .bg_item{bottom: 0;}.mfp-zoom-out-cur > * { max-width: 100%!important;}
  @media (max-width: 768px){.popup-gallery{margin-right: -15px;margin-left: -15px;}}
  /*bec - popup-gallery */
  /* form-popap-main */
  .row-form-popap-main > img{width: 100%;}
  .form-popap-main form .labeform .batton-form input{border: 2px solid red;}
  @media (max-width: 768px){.main_smass_infreme{margin-left: -15px;margin-right: -15px;display: block;}.main-row-small{margin-left: -15px!important;margin-right: -15px!important;}}
  @media (max-width: 550px){.row-form-popap-main{position: relative;margin-right: -15px!important;margin-left: -15px!important;}}
  /*bec - form-popap-main */
  /* desktop-main-form */
  .desktop-main-form{padding: 56px 0px;}
  .desktop-main-form .h2{padding-bottom: 35px;margin: 0;font-weight: 700;}
  .desktop-main-form .h2 span{font-size: 35px;}
  .desktop-main-form form{margin-right: -15px; margin-left: -15px;}
  .desktop-main-form .btn-medium{line-height: 33px;height: 34px;width: 100%;}
  @media (max-width: 768px){
    .desktop-main-form{padding: 20px 0;}
    .desktop-main-form .h2{font-size: 11px;padding-bottom: 5px;}
    .desktop-main-form .h2 span{font-size: 16px;}
    .desktop-main-form .item{margin-top: 5px;}}
  /*bec - desktop-main-form */
  /* desktop-main-form-small */
  .desktop-main-form-small {background: #333333; padding: 30px 20px;}
  .desktop-main-form-small .h2{padding-bottom: 0px;font-size: 17px;margin: 0;font-weight: 700;}
  .desktop-main-form-small .h2 span{font-size: 23px;}
  .desktop-main-form-small form{margin-right: -15px; margin-left: -15px;}
  .desktop-main-form-small .btn-medium{line-height: 33px;height: 34px;width: 100%;}  .desktop-main-form-small .item{margin-top: 5px;}
  @media (max-width: 768px){
    .desktop-main-form-small {padding: 15px 0; margin-left: -15px; margin-right: -15px;}
    .desktop-main-form-small .h2{font-size: 11px;padding-bottom: 5px;}
    .desktop-main-form-small .h2 span{font-size: 16px;}}
  /*bec - desktop-main-form */
  /* videoWrapper */
  .video-max-Wrapper{max-width: 600px;margin: auto;}
  .videoWrapper {margin: 20px 0px;position: relative;padding-bottom: 56.25%;/* 16:9 */padding-top: 25px;height: 0;}.videoWrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  @media (max-width: 550px){.videoWrapper{margin: 20px -15px;}}
  /*bec - videoWrapper */

  .text{
    font-size: 13px;
    line-height: 22px;

    p{
      margin: 0 0 20px;
    }

    ul{
      li{
        list-style: none;
        padding: 0 0 10px 10px;
        text-align: left;

        &:before{
          color: red;
          content: "\f00c";
          position: relative;
          top: 2px;
          display: inline-block;
          margin-right: 10px;
          font-family: FontAwesome;
        }
      }
    }
  }
}

.block-head{
  font-family: "OpenSansBold" !important;
}

/*--- products-template-template-product-single ---*/

.products-template-template-product-single{

  .category-main-product-content{
    padding-top: 48px;

    .text{
      font-size: 13px;
      line-height: 22px;

      p{
        margin: 0 0 20px;
      }

      ul{
        li{
          list-style: none;
          padding: 0 0 10px 10px;
          text-align: left;

          &:before{
            color: red;
            content: "\f00c";
            position: relative;
            top: 2px;
            display: inline-block;
            margin-right: 10px;
            font-family: FontAwesome;
          }
        }
      }
    }
  }
}